# IDE & System Related Files
.buildpath
.project
.settings
.DS_Store
.idea
.vscode
.docker

# OSX
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

# Project specific
vendor/
composer.phar
composer.lock
phpunit.xml
.phpunit.result.cache
/build/
